[Unit]
Description=Idle management daemon for Wayland
Documentation=https://github.com/swaywm/swayidle
# PartOf=graphical.target
# After=graphical.target
# Requisite=graphical.target

[Service]
ExecStart=/usr/bin/swaylock %i
Restart=always

# [Install]
# WantedBy=graphical.target
