[Unit]
Description=Idle management daemon for Wayland
Documentation=https://github.com/swaywm/swayidle
# PartOf=graphical.target
# After=graphical.target
# Requisite=graphical.target

[Service]
Environment=lock="gtklock -i"
ExecStart=/usr/bin/swayidle -w timeout 600 ${lock} after-resume ${lock}
Restart=always

# [Install]
# WantedBy=graphical.target
